@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.unlock {
  width: 66%;
}

.unlockwrapper {
  display: flex;
}

.cardunlock {
  height: 25rem;
  width: 20rem;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 1.2rem;
  box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.3);
  margin: 1rem;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    margin-top: -0.2px;
    box-shadow: 0px 0px 5px 5px rgba(11, 11, 11, 0.4);
  }
  &__unlock {
    position: relative;
    left: 7rem;
    top: 1rem;
    z-index: 1;
  }
  &__unlock1 {
    padding: 1rem;
  }
  &__logo {
    width: 80%;
    position: relative;
    bottom: 1rem;
  }
}

.unlockheader {
  display: flex;
  align-items: center;
}

.unlockbottom {
  padding-left: 58rem;
}

.ubereats {
  background-image: url(../../assets/images/ubereats.png);
  background-repeat: none;
  background-size: cover;
}

.uberredeem {
  background-image: url(../../assets/images/uberredeem.png);
  background-repeat: none;
  background-size: cover;
}

.uberone {
  background-image: url(../../assets/images/uberone.png);
  background-repeat: none;
  background-size: cover;
}
