@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.michaelfavorite {
}

.favoritewrapper {
  display: flex;
}

.michaelcardfavorite {
  height: 27rem;
  width: 27rem;
  border: 1px solid rgba(128, 128, 128, 0.3);
  border-radius: 1.2rem;
  box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.3);
  margin: 1rem;
  transition: 0.5s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &:hover {
    margin-top: -0.2px;
    box-shadow: 0px 0px 5px 5px rgba(11, 11, 11, 0.4);
  }
  &__heart {
    position: relative;
    left: 7rem;
    top: 1rem;
    z-index: 1;
  }
  &__heart1 {
    padding: 1rem;
  }
  &__logo {
    width: 80%;
    position: relative;
    bottom: 1rem;
  }
}

.michaelfavoriteheader {
  display: flex;
  align-items: center;
}

.mikefavebuttons {
  display: flex;
  &__1 {
    width: 20rem;
    margin: 1rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0rem;
    font-weight: bold;
  }
  &__2 {
    width: 20rem;
    margin: 1rem;
    background-color: #d22030;
    color: white;
    text-align: center;
    padding: 1rem 0rem;
    font-weight: bold;
  }
  &__3 {
    width: 20rem;
    margin: 1rem;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 0rem;
    font-weight: bold;
  }
}
.mikeavoritebottom {
  padding-left: 58rem;
}

.mikecard {
  &__ssense {
    width: 100%;
  }
  &__bookmark {
    width: 5%;
  }
}
